Source: openoffice.org1.1
Section: contrib/editors
Priority: optional
Maintainer: Debian OpenOffice Team <debian-openoffice@lists.debian.org>
Uploaders: Chris Halls <halls@debian.org>, Jan-Hendrik Palic <jan.palic@linux-debian.de>, Peter Novodvorsky <nidd@debian.org>, Rene Engelhard <rene@debian.org>
Build-Depends: bison (<= 1:1.75-1) | bison (>= 1:1.875a-1), bzip2, debhelper (>= 4.0.9) | debhelper (= 4.0.2.openoffice), flex, libpam0g-dev | libpam-dev, libxaw7-dev, tcsh, unzip, zip, xvfb, xbase-clients, xfonts-base, g++ (>= 3:3.2.2) | g++-3.2 | g++-3.0 [!powerpc], autoconf, j2sdk1.3 [!s390], sharutils, libstdc++3 [i386], libfreetype6-dev, libstlport4.5-full(>= 4.5.3-9) | g++ (<< 3:3.2.2)
Build-Conflicts: libc6 (<< 2.2.5-13) [powerpc]
Standards-Version: 3.5.6

Package: openoffice.org1.1
Architecture: all
Depends: openoffice.org1.1-debian-files(>> 1.1beta), openoffice.org1.1-bin (>> 1.1beta), openoffice.org1.1-l10n-en (>> 1.1beta) | openoffice.org1.1-l10n-ar (>> 1.1beta) | openoffice.org1.1-l10n-da (>> 1.1beta) | openoffice.org1.1-l10n-de (>> 1.1beta) | openoffice.org1.1-l10n-el (>> 1.1beta) | openoffice.org1.1-l10n-es (>> 1.1beta) | openoffice.org1.1-l10n-fr (>> 1.1beta) | openoffice.org1.1-l10n-it (>> 1.1beta) | openoffice.org1.1-l10n-ja (>> 1.1beta) | openoffice.org1.1-l10n-ko (>> 1.1beta) | openoffice.org1.1-l10n-nl (>> 1.1beta) | openoffice.org1.1-l10n-pl (>> 1.1beta) | openoffice.org1.1-l10n-pt (>> 1.1beta) | openoffice.org1.1-l10n-ru (>> 1.1beta) | openoffice.org1.1-l10n-sv (>> 1.1beta) | openoffice.org1.1-l10n-tr (>> 1.1beta) | openoffice.org1.1-l10n-zh-CN (>> 1.1beta) | openoffice.org1.1-l10n-zh-TW (>> 1.1beta)
Recommends: x-ttcidfont-conf
Suggests: openoffice.org1.1-spellcheck, openoffice.org1.1-help, menu, ooqstart-gnome, unixodbc, cupsys-bsd, libsane, gs
Description: high-quality office productivity suite 1.1 beta
 OpenOffice.org 1.1 is a full-featured office productivity suite that provides
 a near drop-in replacement for Microsoft(R) Office. Users report that little
 or no training is required for people migrating from other office suites -
 everything works the way people expect.
 .
 This is a beta release from the 1.1 branch.  The final version is expected in
 Q3 2003.
 .
 For more information see
 http://www.openoffice.org/dev_docs/source/1.1beta/index.html
 .
 You can extend the functionality of OpenOffice.org by installing these
 packages:
  * x-ttcidfont-conf: Makes all defoma-registered fonts on your system
    available to OpenOffice.org
  * openoffice.org-spellcheck: Myspell dictionaries for use with OpenOffice.org
  * openoffice.org-help: User help; available in several languages from
     http://linux-debian.de/openoffice
  * menu: Will add openoffice.org menu entries for every Debian window manager.
  * ooqstart-gnome: Quick start applet for Gnome desktops
  * unixodbc: ODBC database support
  * cupsys-bsd: Allows OpenOffice.org to detect your CUPS printer queues
     automatically
  * libsane: Use your sane-supported scanner with OpenOffice.org
  * gs: You can set up a generic PDF printer queue using ghostscript to export
     PDF files.
 .
 See README.Debian for information about using OpenOffice.org in Debian, known
 bugs and workarounds.  More information about the Debian packages is available
 at http://www.linux-debian.de/openoffice or join us on IRC #debian-oo.
 OpenOffice.org for Debian is available for i386, powerpc and s390.

Package: openoffice.org1.1-bin
Architecture: i386 powerpc s390
Depends: ${shlibs:Depends}, openoffice.org1.1
Description: OpenOffice.org 1.1 beta office suite binary files
 OpenOffice.org is a full-featured office productivity suite that provides
 a near drop-in replacement for Microsoft(R) Office.
 .
 This package contains the architecture-dependent binaries and libraries of
 the 1.1 beta release of OpenOffice.org.
 .
 For latest news on OpenOffice.org in Debian, see
 http://www.linux-debian.de/openoffice/.

Package: openoffice.org1.1-help-en
Architecture: all
Depends: openoffice.org1.1
Provides: openoffice.org1.1-help
Description: OpenOffice.org 1.1 beta office suite help (English)
 OpenOffice.org is a full-featured office productivity suite that provides
 a near drop-in replacement for Microsoft(R) Office.
 .
 This package contains the help for OpenOffice.org 1.1 in English.  Translated
 help is not available for all languages and is packaged separately.
 .
 For latest news on OpenOffice.org in Debian, see
 http://www.linux-debian.de/openoffice/.

Package: openoffice.org1.1-l10n-en
Architecture: all
Depends: openoffice.org1.1
Provides: openoffice.org1.1-l10n
Suggests: openoffice.org-spellcheck-en , openoffice.org1.1-help-en
Description: English (US) language package for openoffice.org 1.1 beta
 OpenOffice is a complete modern office suite, licensed under the GPL, with
 features comparable to Microsoft(R) Office features.
 .
 This package contains the localization of openoffice.org 1.1 beta in English (US). 
 It contains the user interface, the help, the templates and the autotext
 features. (please note that not all this is available for all possible
 language).  You can switch user interface language using the locales system.
 .
 Spelling dictionaries other than US English are not distributed with the main
 OpenOffice.org source due to licensing differences.  There are some available
 in separate packages (openoffice.org-spellcheck-<language>).  If you just want
 to be able to spellcheck in other languages, you can install extra
 dictionaries independently of the language packs.
 .
 For latest news on Openoffice in Debian, see http://www.linux-debian.de/openoffice/.

Package: openoffice.org1.1-l10n-pt
Architecture: all
Depends: openoffice.org1.1
Provides: openoffice.org1.1-l10n
Suggests: openoffice.org-spellcheck-pt , openoffice.org1.1-help-pt
Description: Portuguese language package for openoffice.org 1.1 beta
 OpenOffice is a complete modern office suite, licensed under the GPL, with
 features comparable to Microsoft(R) Office features.
 .
 This package contains the localization of openoffice.org 1.1 beta in Portuguese. 
 It contains the user interface, the help, the templates and the autotext
 features. (please note that not all this is available for all possible
 language).  You can switch user interface language using the locales system.
 .
 Spelling dictionaries other than US English are not distributed with the main
 OpenOffice.org source due to licensing differences.  There are some available
 in separate packages (openoffice.org-spellcheck-<language>).  If you just want
 to be able to spellcheck in other languages, you can install extra
 dictionaries independently of the language packs.
 .
 For latest news on Openoffice in Debian, see http://www.linux-debian.de/openoffice/.

Package: openoffice.org1.1-l10n-ru
Architecture: all
Depends: openoffice.org1.1
Provides: openoffice.org1.1-l10n
Suggests: openoffice.org-spellcheck-ru , openoffice.org1.1-help-ru
Description: Russian language package for openoffice.org 1.1 beta
 OpenOffice is a complete modern office suite, licensed under the GPL, with
 features comparable to Microsoft(R) Office features.
 .
 This package contains the localization of openoffice.org 1.1 beta in Russian. 
 It contains the user interface, the help, the templates and the autotext
 features. (please note that not all this is available for all possible
 language).  You can switch user interface language using the locales system.
 .
 Spelling dictionaries other than US English are not distributed with the main
 OpenOffice.org source due to licensing differences.  There are some available
 in separate packages (openoffice.org-spellcheck-<language>).  If you just want
 to be able to spellcheck in other languages, you can install extra
 dictionaries independently of the language packs.
 .
 For latest news on Openoffice in Debian, see http://www.linux-debian.de/openoffice/.

Package: openoffice.org1.1-l10n-el
Architecture: all
Depends: openoffice.org1.1
Provides: openoffice.org1.1-l10n
Suggests: openoffice.org-spellcheck-el , openoffice.org1.1-help-el
Description: Greek language package for openoffice.org 1.1 beta
 OpenOffice is a complete modern office suite, licensed under the GPL, with
 features comparable to Microsoft(R) Office features.
 .
 This package contains the localization of openoffice.org 1.1 beta in Greek. 
 It contains the user interface, the help, the templates and the autotext
 features. (please note that not all this is available for all possible
 language).  You can switch user interface language using the locales system.
 .
 Spelling dictionaries other than US English are not distributed with the main
 OpenOffice.org source due to licensing differences.  There are some available
 in separate packages (openoffice.org-spellcheck-<language>).  If you just want
 to be able to spellcheck in other languages, you can install extra
 dictionaries independently of the language packs.
 .
 For latest news on Openoffice in Debian, see http://www.linux-debian.de/openoffice/.

Package: openoffice.org1.1-l10n-nl
Architecture: all
Depends: openoffice.org1.1
Provides: openoffice.org1.1-l10n
Suggests: openoffice.org-spellcheck-nl , openoffice.org1.1-help-nl
Description: Dutch language package for openoffice.org 1.1 beta
 OpenOffice is a complete modern office suite, licensed under the GPL, with
 features comparable to Microsoft(R) Office features.
 .
 This package contains the localization of openoffice.org 1.1 beta in Dutch. 
 It contains the user interface, the help, the templates and the autotext
 features. (please note that not all this is available for all possible
 language).  You can switch user interface language using the locales system.
 .
 Spelling dictionaries other than US English are not distributed with the main
 OpenOffice.org source due to licensing differences.  There are some available
 in separate packages (openoffice.org-spellcheck-<language>).  If you just want
 to be able to spellcheck in other languages, you can install extra
 dictionaries independently of the language packs.
 .
 For latest news on Openoffice in Debian, see http://www.linux-debian.de/openoffice/.

Package: openoffice.org1.1-l10n-fr
Architecture: all
Depends: openoffice.org1.1
Provides: openoffice.org1.1-l10n
Suggests: openoffice.org-spellcheck-fr , openoffice.org1.1-help-fr
Description: French language package for openoffice.org 1.1 beta
 OpenOffice is a complete modern office suite, licensed under the GPL, with
 features comparable to Microsoft(R) Office features.
 .
 This package contains the localization of openoffice.org 1.1 beta in French. 
 It contains the user interface, the help, the templates and the autotext
 features. (please note that not all this is available for all possible
 language).  You can switch user interface language using the locales system.
 .
 Spelling dictionaries other than US English are not distributed with the main
 OpenOffice.org source due to licensing differences.  There are some available
 in separate packages (openoffice.org-spellcheck-<language>).  If you just want
 to be able to spellcheck in other languages, you can install extra
 dictionaries independently of the language packs.
 .
 For latest news on Openoffice in Debian, see http://www.linux-debian.de/openoffice/.

Package: openoffice.org1.1-l10n-es
Architecture: all
Depends: openoffice.org1.1
Provides: openoffice.org1.1-l10n
Suggests: openoffice.org-spellcheck-es , openoffice.org1.1-help-es
Description: Spanish language package for openoffice.org 1.1 beta
 OpenOffice is a complete modern office suite, licensed under the GPL, with
 features comparable to Microsoft(R) Office features.
 .
 This package contains the localization of openoffice.org 1.1 beta in Spanish. 
 It contains the user interface, the help, the templates and the autotext
 features. (please note that not all this is available for all possible
 language).  You can switch user interface language using the locales system.
 .
 Spelling dictionaries other than US English are not distributed with the main
 OpenOffice.org source due to licensing differences.  There are some available
 in separate packages (openoffice.org-spellcheck-<language>).  If you just want
 to be able to spellcheck in other languages, you can install extra
 dictionaries independently of the language packs.
 .
 For latest news on Openoffice in Debian, see http://www.linux-debian.de/openoffice/.

Package: openoffice.org1.1-l10n-it
Architecture: all
Depends: openoffice.org1.1
Provides: openoffice.org1.1-l10n
Suggests: openoffice.org-spellcheck-it , openoffice.org1.1-help-it
Description: Italian language package for openoffice.org 1.1 beta
 OpenOffice is a complete modern office suite, licensed under the GPL, with
 features comparable to Microsoft(R) Office features.
 .
 This package contains the localization of openoffice.org 1.1 beta in Italian. 
 It contains the user interface, the help, the templates and the autotext
 features. (please note that not all this is available for all possible
 language).  You can switch user interface language using the locales system.
 .
 Spelling dictionaries other than US English are not distributed with the main
 OpenOffice.org source due to licensing differences.  There are some available
 in separate packages (openoffice.org-spellcheck-<language>).  If you just want
 to be able to spellcheck in other languages, you can install extra
 dictionaries independently of the language packs.
 .
 For latest news on Openoffice in Debian, see http://www.linux-debian.de/openoffice/.

Package: openoffice.org1.1-l10n-da
Architecture: all
Depends: openoffice.org1.1
Provides: openoffice.org1.1-l10n
Suggests: openoffice.org-spellcheck-da , openoffice.org1.1-help-da
Description: Danish language package for openoffice.org 1.1 beta
 OpenOffice is a complete modern office suite, licensed under the GPL, with
 features comparable to Microsoft(R) Office features.
 .
 This package contains the localization of openoffice.org 1.1 beta in Danish. 
 It contains the user interface, the help, the templates and the autotext
 features. (please note that not all this is available for all possible
 language).  You can switch user interface language using the locales system.
 .
 Spelling dictionaries other than US English are not distributed with the main
 OpenOffice.org source due to licensing differences.  There are some available
 in separate packages (openoffice.org-spellcheck-<language>).  If you just want
 to be able to spellcheck in other languages, you can install extra
 dictionaries independently of the language packs.
 .
 For latest news on Openoffice in Debian, see http://www.linux-debian.de/openoffice/.

Package: openoffice.org1.1-l10n-sv
Architecture: all
Depends: openoffice.org1.1
Provides: openoffice.org1.1-l10n
Suggests: openoffice.org-spellcheck-sv , openoffice.org1.1-help-sv
Description: Swedish language package for openoffice.org 1.1 beta
 OpenOffice is a complete modern office suite, licensed under the GPL, with
 features comparable to Microsoft(R) Office features.
 .
 This package contains the localization of openoffice.org 1.1 beta in Swedish. 
 It contains the user interface, the help, the templates and the autotext
 features. (please note that not all this is available for all possible
 language).  You can switch user interface language using the locales system.
 .
 Spelling dictionaries other than US English are not distributed with the main
 OpenOffice.org source due to licensing differences.  There are some available
 in separate packages (openoffice.org-spellcheck-<language>).  If you just want
 to be able to spellcheck in other languages, you can install extra
 dictionaries independently of the language packs.
 .
 For latest news on Openoffice in Debian, see http://www.linux-debian.de/openoffice/.

Package: openoffice.org1.1-l10n-pl
Architecture: all
Depends: openoffice.org1.1
Provides: openoffice.org1.1-l10n
Suggests: openoffice.org-spellcheck-pl , openoffice.org1.1-help-pl
Description: Polish language package for openoffice.org 1.1 beta
 OpenOffice is a complete modern office suite, licensed under the GPL, with
 features comparable to Microsoft(R) Office features.
 .
 This package contains the localization of openoffice.org 1.1 beta in Polish. 
 It contains the user interface, the help, the templates and the autotext
 features. (please note that not all this is available for all possible
 language).  You can switch user interface language using the locales system.
 .
 Spelling dictionaries other than US English are not distributed with the main
 OpenOffice.org source due to licensing differences.  There are some available
 in separate packages (openoffice.org-spellcheck-<language>).  If you just want
 to be able to spellcheck in other languages, you can install extra
 dictionaries independently of the language packs.
 .
 For latest news on Openoffice in Debian, see http://www.linux-debian.de/openoffice/.

Package: openoffice.org1.1-l10n-de
Architecture: all
Depends: openoffice.org1.1
Provides: openoffice.org1.1-l10n
Suggests: openoffice.org-spellcheck-de , openoffice.org1.1-help-de
Description: German language package for openoffice.org 1.1 beta
 OpenOffice is a complete modern office suite, licensed under the GPL, with
 features comparable to Microsoft(R) Office features.
 .
 This package contains the localization of openoffice.org 1.1 beta in German. 
 It contains the user interface, the help, the templates and the autotext
 features. (please note that not all this is available for all possible
 language).  You can switch user interface language using the locales system.
 .
 Spelling dictionaries other than US English are not distributed with the main
 OpenOffice.org source due to licensing differences.  There are some available
 in separate packages (openoffice.org-spellcheck-<language>).  If you just want
 to be able to spellcheck in other languages, you can install extra
 dictionaries independently of the language packs.
 .
 For latest news on Openoffice in Debian, see http://www.linux-debian.de/openoffice/.

Package: openoffice.org1.1-l10n-ja
Architecture: all
Depends: openoffice.org1.1
Provides: openoffice.org1.1-l10n
Suggests: openoffice.org-spellcheck-ja , openoffice.org1.1-help-ja
Description: Japanese language package for openoffice.org 1.1 beta
 OpenOffice is a complete modern office suite, licensed under the GPL, with
 features comparable to Microsoft(R) Office features.
 .
 This package contains the localization of openoffice.org 1.1 beta in Japanese. 
 It contains the user interface, the help, the templates and the autotext
 features. (please note that not all this is available for all possible
 language).  You can switch user interface language using the locales system.
 .
 Spelling dictionaries other than US English are not distributed with the main
 OpenOffice.org source due to licensing differences.  There are some available
 in separate packages (openoffice.org-spellcheck-<language>).  If you just want
 to be able to spellcheck in other languages, you can install extra
 dictionaries independently of the language packs.
 .
 For latest news on Openoffice in Debian, see http://www.linux-debian.de/openoffice/.

Package: openoffice.org1.1-l10n-ko
Architecture: all
Depends: openoffice.org1.1
Provides: openoffice.org1.1-l10n
Suggests: openoffice.org-spellcheck-ko , openoffice.org1.1-help-ko
Description: Korean language package for openoffice.org 1.1 beta
 OpenOffice is a complete modern office suite, licensed under the GPL, with
 features comparable to Microsoft(R) Office features.
 .
 This package contains the localization of openoffice.org 1.1 beta in Korean. 
 It contains the user interface, the help, the templates and the autotext
 features. (please note that not all this is available for all possible
 language).  You can switch user interface language using the locales system.
 .
 Spelling dictionaries other than US English are not distributed with the main
 OpenOffice.org source due to licensing differences.  There are some available
 in separate packages (openoffice.org-spellcheck-<language>).  If you just want
 to be able to spellcheck in other languages, you can install extra
 dictionaries independently of the language packs.
 .
 For latest news on Openoffice in Debian, see http://www.linux-debian.de/openoffice/.

Package: openoffice.org1.1-l10n-zh-cn
Architecture: all
Depends: openoffice.org1.1
Provides: openoffice.org1.1-l10n
Suggests: openoffice.org-spellcheck-zh-cn , openoffice.org1.1-help-zh-cn
Description: Chinese (simplified) language package for openoffice.org 1.1 beta
 OpenOffice is a complete modern office suite, licensed under the GPL, with
 features comparable to Microsoft(R) Office features.
 .
 This package contains the localization of openoffice.org 1.1 beta in Chinese (simplified). 
 It contains the user interface, the help, the templates and the autotext
 features. (please note that not all this is available for all possible
 language).  You can switch user interface language using the locales system.
 .
 Spelling dictionaries other than US English are not distributed with the main
 OpenOffice.org source due to licensing differences.  There are some available
 in separate packages (openoffice.org-spellcheck-<language>).  If you just want
 to be able to spellcheck in other languages, you can install extra
 dictionaries independently of the language packs.
 .
 For latest news on Openoffice in Debian, see http://www.linux-debian.de/openoffice/.

Package: openoffice.org1.1-l10n-zh-tw
Architecture: all
Depends: openoffice.org1.1
Provides: openoffice.org1.1-l10n
Suggests: openoffice.org-spellcheck-zh-tw , openoffice.org1.1-help-zh-tw
Description: Chinese (traditional) language package for openoffice.org 1.1 beta
 OpenOffice is a complete modern office suite, licensed under the GPL, with
 features comparable to Microsoft(R) Office features.
 .
 This package contains the localization of openoffice.org 1.1 beta in Chinese (traditional). 
 It contains the user interface, the help, the templates and the autotext
 features. (please note that not all this is available for all possible
 language).  You can switch user interface language using the locales system.
 .
 Spelling dictionaries other than US English are not distributed with the main
 OpenOffice.org source due to licensing differences.  There are some available
 in separate packages (openoffice.org-spellcheck-<language>).  If you just want
 to be able to spellcheck in other languages, you can install extra
 dictionaries independently of the language packs.
 .
 For latest news on Openoffice in Debian, see http://www.linux-debian.de/openoffice/.

Package: openoffice.org1.1-l10n-tr
Architecture: all
Depends: openoffice.org1.1
Provides: openoffice.org1.1-l10n
Suggests: openoffice.org-spellcheck-tr , openoffice.org1.1-help-tr
Description: Turkish language package for openoffice.org 1.1 beta
 OpenOffice is a complete modern office suite, licensed under the GPL, with
 features comparable to Microsoft(R) Office features.
 .
 This package contains the localization of openoffice.org 1.1 beta in Turkish. 
 It contains the user interface, the help, the templates and the autotext
 features. (please note that not all this is available for all possible
 language).  You can switch user interface language using the locales system.
 .
 Spelling dictionaries other than US English are not distributed with the main
 OpenOffice.org source due to licensing differences.  There are some available
 in separate packages (openoffice.org-spellcheck-<language>).  If you just want
 to be able to spellcheck in other languages, you can install extra
 dictionaries independently of the language packs.
 .
 For latest news on Openoffice in Debian, see http://www.linux-debian.de/openoffice/.

Package: openoffice.org1.1-l10n-ar
Architecture: all
Depends: openoffice.org1.1
Provides: openoffice.org1.1-l10n
Suggests: openoffice.org-spellcheck-ar , openoffice.org1.1-help-ar
Description: Arabic language package for openoffice.org 1.1 beta
 OpenOffice is a complete modern office suite, licensed under the GPL, with
 features comparable to Microsoft(R) Office features.
 .
 This package contains the localization of openoffice.org 1.1 beta in Arabic. 
 It contains the user interface, the help, the templates and the autotext
 features. (please note that not all this is available for all possible
 language).  You can switch user interface language using the locales system.
 .
 Spelling dictionaries other than US English are not distributed with the main
 OpenOffice.org source due to licensing differences.  There are some available
 in separate packages (openoffice.org-spellcheck-<language>).  If you just want
 to be able to spellcheck in other languages, you can install extra
 dictionaries independently of the language packs.
 .
 For latest news on Openoffice in Debian, see http://www.linux-debian.de/openoffice/.

