Source: openoffice.org
Section: contrib/editors
Priority: optional
Maintainer: Debian OpenOffice Team <debian-openoffice@lists.debian.org>
Uploaders: Jan-Hendrik Palic <jan.palic@linux-debian.de>, Peter Novodvorsky <nidd@debian.org>, Chris Halls <chris.halls@gmx.de>
Build-Depends: bison, bzip2, debhelper (>= 4.0.0), dpkg (>= 1.7.0), flex, libpam-dev, libstlport4.5gcc3-dev[i386], libxaw7-dev, tcsh, unzip, zip, xvfb, xlibs-dev, xbase-clients, xfonts-base, gcc-3.0[i386], g++-3.0[i386], libstdc++3[i386], gcc[powerpc], g++[powerpc], libstdc++2.10-dev[powerpc], autoconf, bzip2
Build-Conflicts: libgcj2-dev
Standards-Version: 3.5.6
Bugs: mailto:debian-openoffice@lists.debian.org

Package: openoffice.org
Architecture: i386 powerpc
Depends: ${shlibs:Depends}
Conflicts: openoffice
Description: high-quality office suite
 OpenOffice is a complete modern office suite, licensed under the GPL, with
 features comparable to Microsoft(R) Office features.
 .
 openoffice.org does not yet use the Debian Bug Tracking System.  You may use
 reportbug to report bugs - bugs will be automatically submitted to 
 debian-openoffice@lists.debian.org.  Please do not submit bugs to the 
 openoffice.org Issuezilla unless you are sure it is not a problem with the
 Debian packaging (there are still quite a few!)
 .
 For latest news on Openoffice in Debian, see http://www.linux-debian.de/openoffice/.
