Source: openoffice.org
Section: contrib/editors
Priority: optional
Maintainer: Debian OpenOffice Team <debian-openoffice@lists.debian.org>
Uploaders: Chris Halls <halls@debian.org>, Jan-Hendrik Palic <jan.palic@linux-debian.de>, Peter Novodvorsky <nidd@debian.org>, Rene Engelhard <rene@debian.org>
Build-Depends: bison-1.35 | bison (<< 1:1.50), bzip2, debhelper (>= 4.0.9) | debhelper (= 4.0.2.openoffice), flex, libpam-dev, libxaw7-dev, tcsh, unzip, zip, xvfb, xbase-clients, xfonts-base, libstdc++3, g++-3.2, autoconf, j2sdk1.3, sharutils
Build-Conflicts: libgcj2-dev, libgcj3-dev
Standards-Version: 3.5.6

Package: openoffice.org
Architecture: all
Depends: openoffice.org-debian-files, openoffice.org-bin (>> 1.0.1-5), openoffice.org-l10n-en (>> 1.0.1-5) | openoffice.org-l10n-ar (>> 1.0.1-5) | openoffice.org-l10n-da (>> 1.0.1-5) | openoffice.org-l10n-de (>> 1.0.1-5) | openoffice.org-l10n-el (>> 1.0.1-5) | openoffice.org-l10n-es (>> 1.0.1-5) | openoffice.org-l10n-fr (>> 1.0.1-5) | openoffice.org-l10n-it (>> 1.0.1-5) | openoffice.org-l10n-ja (>> 1.0.1-5) | openoffice.org-l10n-ko (>> 1.0.1-5) | openoffice.org-l10n-nl (>> 1.0.1-5) | openoffice.org-l10n-pl (>> 1.0.1-5) | openoffice.org-l10n-pt (>> 1.0.1-5) | openoffice.org-l10n-ru (>> 1.0.1-5) | openoffice.org-l10n-sv (>> 1.0.1-5) | openoffice.org-l10n-tr (>> 1.0.1-5) | openoffice.org-l10n-zh-CN (>> 1.0.1-5) | openoffice.org-l10n-zh-TW (>> 1.0.1-5)
Conflicts: openoffice, openoffice.org-l10n-ar (<< 1.0.1), openoffice.org-l10n-da (<< 1.0.1), openoffice.org-l10n-de (<< 1.0.1), openoffice.org-l10n-el (<< 1.0.1), openoffice.org-l10n-en (<< 1.0.1), openoffice.org-l10n-es (<< 1.0.1), openoffice.org-l10n-fr (<< 1.0.1), openoffice.org-l10n-it (<< 1.0.1), openoffice.org-l10n-ja (<< 1.0.1), openoffice.org-l10n-ko (<< 1.0.1), openoffice.org-l10n-nl (<< 1.0.1), openoffice.org-l10n-pl (<< 1.0.1), openoffice.org-l10n-pt (<< 1.0.1), openoffice.org-l10n-ru (<< 1.0.1), openoffice.org-l10n-sv (<< 1.0.1), openoffice.org-l10n-tr (<< 1.0.1), openoffice.org-l10n-zh-CN (<< 1.0.1), openoffice.org-l10n-zh-TW (<< 1.0.1)
Suggests: openoffice.org-spellcheck, openoffice.org-help, menu, ooqstart-gnome, unixodbc, cupsys-bsd
Description: high-quality office productivity suite
 OpenOffice.org 1.0 is a full-featured office productivity suite that provides
 a near drop-in replacement for Microsoft(R) Office. Users report that little
 or no training is required for people migrating from other office suites -
 everything works the way people expect.
 .
 The free office productivity software suite features key desktop applications
 - including word processor, spreadsheet, presentation and drawing programs -
 in more than 25 languages. In addition, OpenOffice.org 1.0 works transparently
 with a variety of file formats, enabling users to exchange documents freely
 with users of with other office suites, such as Microsoft Office and
 StarOffice [tm] 6.0 software. OpenOffice.org 1.0 software runs stably and
 natively on multiple platforms, including Linux, PPC Linux, Solaris [tm],
 Windows and many other flavors of nix.This makes it an ideal first step in a
 migration strategy towards completely open-source computing.
 .
 OpenOffice.org 1.0 is the culmination of more than 18 months of collaborative
 effort by members of the OpenOffice.org community, which is comprised of Sun
 employees, volunteers, CollabNet, and end users, all working to create a
 world-class international office suite that will run on all major platforms.
 .
 Written in C++ and with documented APIs licensed under the LGPL and SISSL Open
 Source licenses, OpenOffice.org allows any knowledgeable developer to benefit
 from the source. And, because the file format for OpenOffice.org is XML,
 interoperability is easy, making future development and adoption more certain.
 .
 For more information see: http://www.openoffice.org
 .
 See README.Debian for information about using OpenOffice.org in Debian, known
 bugs and workarounds.  More information about the Debian packages is available
 at http://www.linux-debian.de/openoffice or join us on IRC #debian-oo.

Package: openoffice.org-bin
Architecture: i386 powerpc
Depends: ${shlibs:Depends}
Recommends: openoffice.org (>=1.0.1-6)
Conflicts: openoffice.org (<= 1.0.1-2), openoffice
Description: OpenOffice.org office suite binary files
 OpenOffice.org 1.0 is a full-featured office productivity suite that provides
 a near drop-in replacement for Microsoft(R) Office.
 .
 This package contains the architecture-dependent binaries and libraries of
 OpenOffice.org.
 .
 For latest news on OpenOffice.org in Debian, see
 http://www.linux-debian.de/openoffice/.

Package: openoffice.org-help-en
Architecture: all
Depends: openoffice.org (>= 1.0.1-1)
Conflicts: openoffice.org-l10n-en (<= 1.0.1-4)
Provides: openoffice.org-help
Description: OpenOffice.org office suite help (English)
 OpenOffice.org 1.0 is a full-featured office productivity suite that provides
 a near drop-in replacement for Microsoft(R) Office.
 .
 This package contains the help for OpenOffice.org in English.  Translated help
 is not available for all languages and is packaged separately.
 .
 For latest news on OpenOffice.org in Debian, see
 http://www.linux-debian.de/openoffice/.

Package: openoffice.org-l10n-en
Architecture: all
Recommends: openoffice.org (>=1.0.1-6)
Provides: openoffice.org-l10n
Conflicts: openoffice.org (<= 1.0.1-5)
Suggests: openoffice.org-spellcheck-en , openoffice.org-help-en
Description: english_us language package for openoffice.org
 OpenOffice is a complete modern office suite, licensed under the GPL, with
 features comparable to Microsoft(R) Office features.
 .
 This package contains the localization of openoffice.org in english_us. 
 It contains the user interface, the help, the templates and the autotext
 features. (please note that not all this is available for all possible
 language).  You can switch user interface language using the locales system.
 .
 Spelling dictionaries other than US English are not distributed with the main
 OpenOffice.org source due to licensing differences.  There are some available
 in separate packages (openoffice.org-spellcheck-<language>).  If you just want
 to be able to spellcheck in other languages, you can install extra
 dictionaries independently of the language packs.
 .
 For latest news on Openoffice in Debian, see http://www.linux-debian.de/openoffice/.

Package: openoffice.org-l10n-pt
Architecture: all
Recommends: openoffice.org (>=1.0.1-6)
Provides: openoffice.org-l10n
Conflicts: openoffice.org (<= 1.0.1-5)
Suggests: openoffice.org-spellcheck-pt , openoffice.org-help-pt
Description: portuguese language package for openoffice.org
 OpenOffice is a complete modern office suite, licensed under the GPL, with
 features comparable to Microsoft(R) Office features.
 .
 This package contains the localization of openoffice.org in portuguese. 
 It contains the user interface, the help, the templates and the autotext
 features. (please note that not all this is available for all possible
 language).  You can switch user interface language using the locales system.
 .
 Spelling dictionaries other than US English are not distributed with the main
 OpenOffice.org source due to licensing differences.  There are some available
 in separate packages (openoffice.org-spellcheck-<language>).  If you just want
 to be able to spellcheck in other languages, you can install extra
 dictionaries independently of the language packs.
 .
 For latest news on Openoffice in Debian, see http://www.linux-debian.de/openoffice/.

Package: openoffice.org-l10n-ru
Architecture: all
Recommends: openoffice.org (>=1.0.1-6)
Provides: openoffice.org-l10n
Conflicts: openoffice.org (<= 1.0.1-5)
Suggests: openoffice.org-spellcheck-ru , openoffice.org-help-ru
Description: russian language package for openoffice.org
 OpenOffice is a complete modern office suite, licensed under the GPL, with
 features comparable to Microsoft(R) Office features.
 .
 This package contains the localization of openoffice.org in russian. 
 It contains the user interface, the help, the templates and the autotext
 features. (please note that not all this is available for all possible
 language).  You can switch user interface language using the locales system.
 .
 Spelling dictionaries other than US English are not distributed with the main
 OpenOffice.org source due to licensing differences.  There are some available
 in separate packages (openoffice.org-spellcheck-<language>).  If you just want
 to be able to spellcheck in other languages, you can install extra
 dictionaries independently of the language packs.
 .
 For latest news on Openoffice in Debian, see http://www.linux-debian.de/openoffice/.

Package: openoffice.org-l10n-el
Architecture: all
Recommends: openoffice.org (>=1.0.1-6)
Provides: openoffice.org-l10n
Conflicts: openoffice.org (<= 1.0.1-5)
Suggests: openoffice.org-spellcheck-el , openoffice.org-help-el
Description: greek language package for openoffice.org
 OpenOffice is a complete modern office suite, licensed under the GPL, with
 features comparable to Microsoft(R) Office features.
 .
 This package contains the localization of openoffice.org in greek. 
 It contains the user interface, the help, the templates and the autotext
 features. (please note that not all this is available for all possible
 language).  You can switch user interface language using the locales system.
 .
 Spelling dictionaries other than US English are not distributed with the main
 OpenOffice.org source due to licensing differences.  There are some available
 in separate packages (openoffice.org-spellcheck-<language>).  If you just want
 to be able to spellcheck in other languages, you can install extra
 dictionaries independently of the language packs.
 .
 For latest news on Openoffice in Debian, see http://www.linux-debian.de/openoffice/.

Package: openoffice.org-l10n-nl
Architecture: all
Recommends: openoffice.org (>=1.0.1-6)
Provides: openoffice.org-l10n
Conflicts: openoffice.org (<= 1.0.1-5)
Suggests: openoffice.org-spellcheck-nl , openoffice.org-help-nl
Description: dutch language package for openoffice.org
 OpenOffice is a complete modern office suite, licensed under the GPL, with
 features comparable to Microsoft(R) Office features.
 .
 This package contains the localization of openoffice.org in dutch. 
 It contains the user interface, the help, the templates and the autotext
 features. (please note that not all this is available for all possible
 language).  You can switch user interface language using the locales system.
 .
 Spelling dictionaries other than US English are not distributed with the main
 OpenOffice.org source due to licensing differences.  There are some available
 in separate packages (openoffice.org-spellcheck-<language>).  If you just want
 to be able to spellcheck in other languages, you can install extra
 dictionaries independently of the language packs.
 .
 For latest news on Openoffice in Debian, see http://www.linux-debian.de/openoffice/.

Package: openoffice.org-l10n-fr
Architecture: all
Recommends: openoffice.org (>=1.0.1-6)
Provides: openoffice.org-l10n
Conflicts: openoffice.org (<= 1.0.1-5)
Suggests: openoffice.org-spellcheck-fr , openoffice.org-help-fr
Description: french language package for openoffice.org
 OpenOffice is a complete modern office suite, licensed under the GPL, with
 features comparable to Microsoft(R) Office features.
 .
 This package contains the localization of openoffice.org in french. 
 It contains the user interface, the help, the templates and the autotext
 features. (please note that not all this is available for all possible
 language).  You can switch user interface language using the locales system.
 .
 Spelling dictionaries other than US English are not distributed with the main
 OpenOffice.org source due to licensing differences.  There are some available
 in separate packages (openoffice.org-spellcheck-<language>).  If you just want
 to be able to spellcheck in other languages, you can install extra
 dictionaries independently of the language packs.
 .
 For latest news on Openoffice in Debian, see http://www.linux-debian.de/openoffice/.

Package: openoffice.org-l10n-es
Architecture: all
Recommends: openoffice.org (>=1.0.1-6)
Provides: openoffice.org-l10n
Conflicts: openoffice.org (<= 1.0.1-5)
Suggests: openoffice.org-spellcheck-es , openoffice.org-help-es
Description: spanish language package for openoffice.org
 OpenOffice is a complete modern office suite, licensed under the GPL, with
 features comparable to Microsoft(R) Office features.
 .
 This package contains the localization of openoffice.org in spanish. 
 It contains the user interface, the help, the templates and the autotext
 features. (please note that not all this is available for all possible
 language).  You can switch user interface language using the locales system.
 .
 Spelling dictionaries other than US English are not distributed with the main
 OpenOffice.org source due to licensing differences.  There are some available
 in separate packages (openoffice.org-spellcheck-<language>).  If you just want
 to be able to spellcheck in other languages, you can install extra
 dictionaries independently of the language packs.
 .
 For latest news on Openoffice in Debian, see http://www.linux-debian.de/openoffice/.

Package: openoffice.org-l10n-it
Architecture: all
Recommends: openoffice.org (>=1.0.1-6)
Provides: openoffice.org-l10n
Conflicts: openoffice.org (<= 1.0.1-5)
Suggests: openoffice.org-spellcheck-it , openoffice.org-help-it
Description: italian language package for openoffice.org
 OpenOffice is a complete modern office suite, licensed under the GPL, with
 features comparable to Microsoft(R) Office features.
 .
 This package contains the localization of openoffice.org in italian. 
 It contains the user interface, the help, the templates and the autotext
 features. (please note that not all this is available for all possible
 language).  You can switch user interface language using the locales system.
 .
 Spelling dictionaries other than US English are not distributed with the main
 OpenOffice.org source due to licensing differences.  There are some available
 in separate packages (openoffice.org-spellcheck-<language>).  If you just want
 to be able to spellcheck in other languages, you can install extra
 dictionaries independently of the language packs.
 .
 For latest news on Openoffice in Debian, see http://www.linux-debian.de/openoffice/.

Package: openoffice.org-l10n-da
Architecture: all
Recommends: openoffice.org (>=1.0.1-6)
Provides: openoffice.org-l10n
Conflicts: openoffice.org (<= 1.0.1-5)
Suggests: openoffice.org-spellcheck-da , openoffice.org-help-da
Description: danish language package for openoffice.org
 OpenOffice is a complete modern office suite, licensed under the GPL, with
 features comparable to Microsoft(R) Office features.
 .
 This package contains the localization of openoffice.org in danish. 
 It contains the user interface, the help, the templates and the autotext
 features. (please note that not all this is available for all possible
 language).  You can switch user interface language using the locales system.
 .
 Spelling dictionaries other than US English are not distributed with the main
 OpenOffice.org source due to licensing differences.  There are some available
 in separate packages (openoffice.org-spellcheck-<language>).  If you just want
 to be able to spellcheck in other languages, you can install extra
 dictionaries independently of the language packs.
 .
 For latest news on Openoffice in Debian, see http://www.linux-debian.de/openoffice/.

Package: openoffice.org-l10n-sv
Architecture: all
Recommends: openoffice.org (>=1.0.1-6)
Provides: openoffice.org-l10n
Conflicts: openoffice.org (<= 1.0.1-5)
Suggests: openoffice.org-spellcheck-sv , openoffice.org-help-sv
Description: swedish language package for openoffice.org
 OpenOffice is a complete modern office suite, licensed under the GPL, with
 features comparable to Microsoft(R) Office features.
 .
 This package contains the localization of openoffice.org in swedish. 
 It contains the user interface, the help, the templates and the autotext
 features. (please note that not all this is available for all possible
 language).  You can switch user interface language using the locales system.
 .
 Spelling dictionaries other than US English are not distributed with the main
 OpenOffice.org source due to licensing differences.  There are some available
 in separate packages (openoffice.org-spellcheck-<language>).  If you just want
 to be able to spellcheck in other languages, you can install extra
 dictionaries independently of the language packs.
 .
 For latest news on Openoffice in Debian, see http://www.linux-debian.de/openoffice/.

Package: openoffice.org-l10n-pl
Architecture: all
Recommends: openoffice.org (>=1.0.1-6)
Provides: openoffice.org-l10n
Conflicts: openoffice.org (<= 1.0.1-5)
Suggests: openoffice.org-spellcheck-pl , openoffice.org-help-pl
Description: polish language package for openoffice.org
 OpenOffice is a complete modern office suite, licensed under the GPL, with
 features comparable to Microsoft(R) Office features.
 .
 This package contains the localization of openoffice.org in polish. 
 It contains the user interface, the help, the templates and the autotext
 features. (please note that not all this is available for all possible
 language).  You can switch user interface language using the locales system.
 .
 Spelling dictionaries other than US English are not distributed with the main
 OpenOffice.org source due to licensing differences.  There are some available
 in separate packages (openoffice.org-spellcheck-<language>).  If you just want
 to be able to spellcheck in other languages, you can install extra
 dictionaries independently of the language packs.
 .
 For latest news on Openoffice in Debian, see http://www.linux-debian.de/openoffice/.

Package: openoffice.org-l10n-de
Architecture: all
Recommends: openoffice.org (>=1.0.1-6)
Provides: openoffice.org-l10n
Conflicts: openoffice.org (<= 1.0.1-5)
Suggests: openoffice.org-spellcheck-de , openoffice.org-help-de
Description: german language package for openoffice.org
 OpenOffice is a complete modern office suite, licensed under the GPL, with
 features comparable to Microsoft(R) Office features.
 .
 This package contains the localization of openoffice.org in german. 
 It contains the user interface, the help, the templates and the autotext
 features. (please note that not all this is available for all possible
 language).  You can switch user interface language using the locales system.
 .
 Spelling dictionaries other than US English are not distributed with the main
 OpenOffice.org source due to licensing differences.  There are some available
 in separate packages (openoffice.org-spellcheck-<language>).  If you just want
 to be able to spellcheck in other languages, you can install extra
 dictionaries independently of the language packs.
 .
 For latest news on Openoffice in Debian, see http://www.linux-debian.de/openoffice/.

Package: openoffice.org-l10n-ja
Architecture: all
Recommends: openoffice.org (>=1.0.1-6)
Provides: openoffice.org-l10n
Conflicts: openoffice.org (<= 1.0.1-5)
Suggests: openoffice.org-spellcheck-ja , openoffice.org-help-ja
Description: japanese language package for openoffice.org
 OpenOffice is a complete modern office suite, licensed under the GPL, with
 features comparable to Microsoft(R) Office features.
 .
 This package contains the localization of openoffice.org in japanese. 
 It contains the user interface, the help, the templates and the autotext
 features. (please note that not all this is available for all possible
 language).  You can switch user interface language using the locales system.
 .
 Spelling dictionaries other than US English are not distributed with the main
 OpenOffice.org source due to licensing differences.  There are some available
 in separate packages (openoffice.org-spellcheck-<language>).  If you just want
 to be able to spellcheck in other languages, you can install extra
 dictionaries independently of the language packs.
 .
 For latest news on Openoffice in Debian, see http://www.linux-debian.de/openoffice/.

Package: openoffice.org-l10n-ko
Architecture: all
Recommends: openoffice.org (>=1.0.1-6)
Provides: openoffice.org-l10n
Conflicts: openoffice.org (<= 1.0.1-5)
Suggests: openoffice.org-spellcheck-ko , openoffice.org-help-ko
Description: korean language package for openoffice.org
 OpenOffice is a complete modern office suite, licensed under the GPL, with
 features comparable to Microsoft(R) Office features.
 .
 This package contains the localization of openoffice.org in korean. 
 It contains the user interface, the help, the templates and the autotext
 features. (please note that not all this is available for all possible
 language).  You can switch user interface language using the locales system.
 .
 Spelling dictionaries other than US English are not distributed with the main
 OpenOffice.org source due to licensing differences.  There are some available
 in separate packages (openoffice.org-spellcheck-<language>).  If you just want
 to be able to spellcheck in other languages, you can install extra
 dictionaries independently of the language packs.
 .
 For latest news on Openoffice in Debian, see http://www.linux-debian.de/openoffice/.

Package: openoffice.org-l10n-zh-cn
Architecture: all
Recommends: openoffice.org (>=1.0.1-6)
Provides: openoffice.org-l10n
Conflicts: openoffice.org (<= 1.0.1-5)
Suggests: openoffice.org-spellcheck-zh-cn , openoffice.org-help-zh-cn
Description: chinese_simplified language package for openoffice.org
 OpenOffice is a complete modern office suite, licensed under the GPL, with
 features comparable to Microsoft(R) Office features.
 .
 This package contains the localization of openoffice.org in chinese_simplified. 
 It contains the user interface, the help, the templates and the autotext
 features. (please note that not all this is available for all possible
 language).  You can switch user interface language using the locales system.
 .
 Spelling dictionaries other than US English are not distributed with the main
 OpenOffice.org source due to licensing differences.  There are some available
 in separate packages (openoffice.org-spellcheck-<language>).  If you just want
 to be able to spellcheck in other languages, you can install extra
 dictionaries independently of the language packs.
 .
 For latest news on Openoffice in Debian, see http://www.linux-debian.de/openoffice/.

Package: openoffice.org-l10n-zh-tw
Architecture: all
Recommends: openoffice.org (>=1.0.1-6)
Provides: openoffice.org-l10n
Conflicts: openoffice.org (<= 1.0.1-5)
Suggests: openoffice.org-spellcheck-zh-tw , openoffice.org-help-zh-tw
Description: chinese_traditional language package for openoffice.org
 OpenOffice is a complete modern office suite, licensed under the GPL, with
 features comparable to Microsoft(R) Office features.
 .
 This package contains the localization of openoffice.org in chinese_traditional. 
 It contains the user interface, the help, the templates and the autotext
 features. (please note that not all this is available for all possible
 language).  You can switch user interface language using the locales system.
 .
 Spelling dictionaries other than US English are not distributed with the main
 OpenOffice.org source due to licensing differences.  There are some available
 in separate packages (openoffice.org-spellcheck-<language>).  If you just want
 to be able to spellcheck in other languages, you can install extra
 dictionaries independently of the language packs.
 .
 For latest news on Openoffice in Debian, see http://www.linux-debian.de/openoffice/.

Package: openoffice.org-l10n-tr
Architecture: all
Recommends: openoffice.org (>=1.0.1-6)
Provides: openoffice.org-l10n
Conflicts: openoffice.org (<= 1.0.1-5)
Suggests: openoffice.org-spellcheck-tr , openoffice.org-help-tr
Description: turkish language package for openoffice.org
 OpenOffice is a complete modern office suite, licensed under the GPL, with
 features comparable to Microsoft(R) Office features.
 .
 This package contains the localization of openoffice.org in turkish. 
 It contains the user interface, the help, the templates and the autotext
 features. (please note that not all this is available for all possible
 language).  You can switch user interface language using the locales system.
 .
 Spelling dictionaries other than US English are not distributed with the main
 OpenOffice.org source due to licensing differences.  There are some available
 in separate packages (openoffice.org-spellcheck-<language>).  If you just want
 to be able to spellcheck in other languages, you can install extra
 dictionaries independently of the language packs.
 .
 For latest news on Openoffice in Debian, see http://www.linux-debian.de/openoffice/.

Package: openoffice.org-l10n-ar
Architecture: all
Recommends: openoffice.org (>=1.0.1-6)
Provides: openoffice.org-l10n
Conflicts: openoffice.org (<= 1.0.1-5)
Suggests: openoffice.org-spellcheck-ar , openoffice.org-help-ar
Description: arabic language package for openoffice.org
 OpenOffice is a complete modern office suite, licensed under the GPL, with
 features comparable to Microsoft(R) Office features.
 .
 This package contains the localization of openoffice.org in arabic. 
 It contains the user interface, the help, the templates and the autotext
 features. (please note that not all this is available for all possible
 language).  You can switch user interface language using the locales system.
 .
 Spelling dictionaries other than US English are not distributed with the main
 OpenOffice.org source due to licensing differences.  There are some available
 in separate packages (openoffice.org-spellcheck-<language>).  If you just want
 to be able to spellcheck in other languages, you can install extra
 dictionaries independently of the language packs.
 .
 For latest news on Openoffice in Debian, see http://www.linux-debian.de/openoffice/.

