#!/bin/sh

# config script for openoffice.org-bin

# source debconf module
. /usr/share/debconf/confmodule

if [ -x /etc/openoffice/openoffice.conf ]; then
	. /etc/openoffice/openoffice.conf
else
	prelink=false
fi

if [ "$DEBIAN_FRONTEND" != "noninteractive" ]; then

	# should we prelink the binaries?
	db_set openoffice.org-bin/prelink $prelink
	db_input medium openoffice.org-bin/prelink || true
	db_go

fi
