Template: openoffice.org-bin/prelink
Type: boolean
Default: false
_Description: Prelink OpenOffice.org binaries?
 OpenOffice.org's binaries can be prelinked to ensure faster starting and
 less memory needs.
 .
 Should I do that?
