#!/bin/sh

# config script for openoffice.org-bin

# source debconf module
. /usr/share/debconf/confmodule

CONFIGFILE=/etc/openoffice/settings.debconf
if [ -e $CONFIGFILE ]; then
	. $CONFIGFILE
else
	prelink=false
fi

if [ "$DEBIAN_FRONTEND" != "noninteractive" ]; then

	# should we prelink the binaries?
	db_set openoffice.org-bin/prelink $prelink
	db_input medium openoffice.org-bin/prelink || true
	db_go
	
	# needed for dpkg-reconfigure...
	db_get openoffice.org-bin/prelink
	prelink=$RET
	if [ -e $CONFIGFILE ]; then
		TMP=`mktemp -q`
		cp -a -f $CONFIGFILE $TMP
		if grep -q "^prelink=.*" $CONFIGFILE; then
			sed -e s"/^ *prelink=.*/prelink=\"$prelink\"/" \
			< $CONFIGFILE > $TMP
		fi
		mv -f $TMP $CONFIGFILE 
	fi
fi
