#!/usr/bin/make -f
###################################################################################
# OpenOffice.org source package rules flie
#
# Please see debian/README for detailed documentation about the build system, and
# how to build OpenOffice.org.
###################################################################################
# Authors:
# Chris Halls <halls@debian.org>
# Rene Engelhard <rene@debian.org>
# Copyright 2005 Software in the Public Interest, Inc.
# Licensed under the GNU General Public License, version 2.  See the file
# /usr/share/common-licenses/GPL or <http://www.gnu.org/copyleft/gpl.txt>.
###################################################################################

default: environment
VER=2
PKGDIR=debian/openoffice.org$(VER)
OODIR=usr/lib/openoffice$(VER)
MILESTONE=66

# ensure that some scripts we need are executable.
DUMMY:=$(shell if [ ! -x debian/scripts/setperms ]; then chmod 755 debian/scripts/setperms; fi)
DUMMY:=$(shell debian/scripts/setperms)

# debhelper
export DH_OPTIONS
export DH_ALWAYS_EXCLUDE=CVS
#export DH_VERBOSE=1

# Get package version info.
SOURCE_VERSION:=$(shell head -1 debian/changelog | cut -d\( -f2 | cut -d\) -f1)
UPSTREAM_VERSION:=$(shell echo "$(SOURCE_VERSION)"| cut -d- -f1)
# Determine our architecture.
ARCH := $(shell dpkg-architecture -qDEB_HOST_ARCH)
STAMP_DIR=debian/stampdir
DEBHELPER_OPTIONS = -Nopenoffice.org$(VER)-java

# Read in architecture-specific variables of importance.
#include debian/scripts/vars.$(ARCH)

# Default flags to pass to configure of ooo-build
CONFIGURE_FLAGS= --disable-post-install-scripts \
                 --with-tag=src680-m$(MILESTONE) \
		 --with-system-gcc \
		 --with-distro=Debian \
		 --with-vendor=Debian \
		 --enable-package-directories \
		 --disable-java \
		 --with-installed-ooo-dirname=openoffice$(VER) \
		 --with-binsuffix=2

#		 --with-ooo-builddir=$(CURDIR) \
#		 --with-src=$(CURDIR) \

# Use compiler cache?  Include ccache in DEB_BUILD_OPTIONS for much faster rebuild times
# A complete build uses about 200Mb of compiler cache.
ifeq (ccache,$(findstring ccache,$(DEB_BUILD_OPTIONS)))
  CONFIGURE_FLAGS += --with-gcc-speedup=ccache
endif

# Flags to pass to configure of openoffice.org
CONFIGURE_OPTIONS=--with-system-gcc --with-jdk-home=/usr/lib/SunJava2-1.4.2 \
		   --with-lang=en-US --enable-libart --enable-libsn --enable-crashdump=no \
		   --with-system-zlib --with-system-freetype --with-system-jpeg \
		   --without-fonts --enable-fontconfig \
		   --with-system-mozilla \
		   --with-ant-home=/usr/share/ant --disable-crashdump \
		   --with-system-python --disable-binfilter \
		   --disable-epm --without-myspell-dicts \
		   --with-system-libxml

export CONFIGURE_OPTIONS

# Because of the stampdir magic, when you actually want to run a rule
# over, you would have to remove the stamp manually.  Now, just do
# 'debian/rules <target> <target> ... FORCE=1', and the stamp files
# that match the given targets will be removed automagically.
stampdir_targets=files.backup icons.scale patch.apply build.prepare.artwork 
stampdir_targets+=build.prepare configure
stampdir_targets+=setupins setup install install-arch install-indep
stampdir_targets+=langpacks binary-common binary-arch binary-indep
ifdef FORCE
 DUMMY:=$(shell rm -f $(patsubst %,$(STAMP_DIR)/%,$(filter $(stampdir_targets),$(MAKECMDGOALS))))
endif

# If this is defined, then none of the 'long' commands will be run.  Useful
# for testing.
# test_rules=1

# Since the final stages use up a large amount of diskspace, provide targets to
# remove them without needing a full rebuild

# Clean up the package directories (about 830M) 
clean-debdir:
	dh_testdir
	rm -f debian/*.postinst debian/*.postrm debian/*.preinst debian/*.prerm
	rm -f $(STAMP_DIR)/setup
	dh_clean

# Clean up the installation sets and package directories (about 2.5 Gb!)
clean-instsetoo: clean-debdir
	dh_testdir
	rm -f $(STAMP_DIR)/instsetoo
	# Remove all installation sets
	rm -rf $(SOURCE_TREE)/instsetoo/$(ARCHBUILDDIR)

# Clean compilation results, but leave solver (about 600Mb in addition to instsetoo)
clean-objectdirs: clean-instsetoo
	dh_testdir
	find $(SOURCE_TREE) -maxdepth 2 -name $(ARCHBUILDDIR) -type d -exec rm -rf {} \;

clean:
	dh_testdir

	# we do not need them and they make problem with dpkg-source....
	rm -f ooo-build/desktop/*.png ooo-build/www/*.png \
		ooo-build/www/images/*.png ooo-build/templates/*.s* \
		ooo-build/www/l10n/*.gif \
		ooo-build/src/open*bmp ooo-build/src/file-bug-*.png

	if [ -d ooo-build/test ]; then \
		find ooo-build/test -type f \
		     \( -name '*.xls' -o -name '*.sx?' -o -name '*.doc' \
			-o -name '*.123' -o -name '*.lwp' -o -name '*.ppt' \
			-o -name '*.wb2' -o -name '*.png' \) -exec rm {} \; ;\
	fi
	rm -f ooo-build/fonts/symbols.xls

	# remove xcf and bmp of the Debian splashscreen
	rm -f debian/openintro_debian.xcf debian/openintro_debian.bmp \
		offmgr/res/openintro_debian.bmp

	# uuencode binary files
	cd ooo-build ;\
	for f in fonts/opens___.ttf src/ooo_custom_images*.bz2 src/images*.zip; do \
	  if [ -s $$f ]; then \
	    uuencode $$f $$f > $$f.uu && \
            touch -r $$f.uu $$f ;\
	  fi ;\
	  rm -f $$f ;\
	done
	
	dh_clean

	# Files created in debian directory
	rm -f debian/*.postinst debian/*.postrm debian/*.preinst debian/*.prerm

	-$(MAKE) -C ooo-build distclean
	$(MAKE) -f debian/rules control


# Generate control file, because we have so many different languages
# Based on script by Martin Quinson <Martin.Quinson@tuxfamily.org>
control: debian/control
debian/control: debian/control.in debian/control.lang.in ooo-build/bin/openoffice-xlate-lang
	sed -e "s|openoffice.orgVER|openoffice.org$(VER)|g" \
	    < debian/control.in > debian/control

#	for LNUM in `ooo-build/bin/openoffice-xlate-lang -p all ` ; do \
	# TOOD - all langpacks
	for LNUM in en-US ; do \
	    LNAME=`ooo-build/bin/openoffice-xlate-lang -l $$LNUM`; \
	    LCODE=`ooo-build/bin/openoffice-xlate-lang -i $$LNUM | tr A-Z a-z`; \
	    SUGGESTS=; \
	    sed -e "s|@LNAME@|$$LNAME|g" -e "s|@LCODE@|$$LCODE|g" \
	        -e "s|@SUGGESTS@|$$SUGGESTS|g" \
			-e "s|openoffice.orgVER|openoffice.org$(VER)|g" \
	        >> debian/control < debian/control.lang.in; \
	done
	# -hi-in was renamed to -hi; add Conflicts:/Replaces:/Provides:
	perl -pi -e \
		's/(openoffice.org1.1-l10n-hi)/\1, openoffice.org-l10n-hi-in/' \
		debian/control

.DELETE_ON_ERROR: debian/control

build: build-arch build-indep
build-arch: $(STAMP_DIR)/build
build-indep: $(STAMP_DIR)/build

# All 'important' targets have 2 lines.  The one that is run by
# dpkg-buildpackage or the user, and the one that does the actual work.  This
# indirection is needed so that the 'stamp' files that signify when a rule is
# done can be located in a separate 'stampdir'.  Recall that make has no way to
# know when a goal has been met for a phony target (like "build" or "install").
#
# At the end of each stampdir target, be sure to run the command 'touch $@'
# so that the target will not be run again.  Removing the file will make
# make run the target over.

configure: ooo-build/config.status
ooo-build/config.status: ooo-build/configure
	dh_testdir
	$(MAKE) -f debian/rules environment
	mkdir -p $(STAMP_DIR)

	# uudecode source files
	cd ooo-build; for uu in fonts/opens___.ttf.uu src/*.uu; do \
	  orig="`echo "$$uu" |sed -e 's#.uu$$##'`" ;\
          if [ ! -s $$orig ]; then \
            uudecode -o $$orig $$uu ;\
            touch -r $$orig $$uu ;\
          fi ;\
	done

	# Make sure we have /proc mounted - otherwise idlc will fail later.
	test -r /proc/version

	cd ooo-build ; ../ooo-build/configure $(CONFIGURE_FLAGS)
	touch $@

build: $(STAMP_DIR)/build
$(STAMP_DIR)/build: ooo-build/config.status
	dh_testdir
	cd ooo-build ; $(MAKE)

	touch $@

install: $(STAMP_DIR)/install
$(STAMP_DIR)/install: $(STAMP_DIR)/build
	dh_testdir
	dh_testroot
	
	rm -rf $(CURDIR)/debian/tmp
	cd ooo-build ; DESTDIR=$(CURDIR)/debian/tmp $(MAKE) install
	touch $@

#
# Generate maintainer scripts
maintscripts: $(STAMP_DIR)/maintscripts
$(STAMP_DIR)/maintscripts: debian/shell-lib.sh debian/java-lib.sh debian/control
	dh_testdir

	# generate maintainer scripts from *.in
	# or generate default script which calls hook in openoffice.org-debian-files package
	for PKG in `dh_listpackages`; do \
	  for FILE in postinst postrm preinst prerm; do \
	    MAINTSCRIPT=debian/$$PKG.$$FILE ; \
	    if [ -e $$MAINTSCRIPT.in ]; then \
	      sed -n '1,/^#INCLUDE_SHELL_LIB#$$/p' < $$MAINTSCRIPT.in | sed -e '/^#INCLUDE_SHELL_LIB#$$/d' > $$MAINTSCRIPT; \
	      grep LIBSUFFIX debian/scripts/vars.$(ARCH) >> $$MAINTSCRIPT; \
	      if [ $$PKG = openoffice.org$(VER)-java ]; then \
	        cat debian/java-lib.sh >> $$MAINTSCRIPT ; \
              fi ; \
	      cat debian/shell-lib.sh >> $$MAINTSCRIPT; \
	      sed -n '/^#INCLUDE_SHELL_LIB#$$/,$$p' < $$MAINTSCRIPT.in | sed -e '/^#INCLUDE_SHELL_LIB#$$/d' >> $$MAINTSCRIPT; \
	    else \
	      echo '#!/bin/sh' > $$MAINTSCRIPT ; \
	      echo THIS_PACKAGE=$$PKG >> $$MAINTSCRIPT ;\
	      echo THIS_SCRIPT=$$FILE >> $$MAINTSCRIPT ;\
	      cat debian/shell-lib.sh >> $$MAINTSCRIPT; \
	    fi; \
	  done; \
	done
	touch $@

#LANGPACKISOS:=$(shell ooo-build/bin/openoffice-xlate-lang -i all)
LANGPACKISOS:=en-US

# Install files generated by setup into package directories
langpacks: $(STAMP_DIR)/langpacks
$(STAMP_DIR)/langpacks: $(STAMP_DIR)/install ooo-build/bin/openoffice-xlate-lang

	for ext in `echo $(LANGPACKISOS) |tr A-Z a-z` ; do \
	  rm -rf $(PKGDIR)-l10n-$$ext;\
	  rm -rf $(PKGDIR)-l10n-$$ext.*.debhelper;\
	done

	# Install the lang packs TODO

	# For now move stuff out of the -common install
	for dir in program/resource share/registry/res/en-US; do \
	  mkdir -m755 -p $(PKGDIR)-l10n-en-us/$(OODIR)/$$dir ;\
	  cp -r --preserve=mode debian/tmp/pkg/openoffice.org-common/usr/lib/openoffice$(VER)/$$dir/* \
			$(PKGDIR)-l10n-en-us/$(OODIR)/$$dir || exit 1;\
	done
	
	touch $@


# Install files generated by setup into arch-dependent package directories
install-arch: $(STAMP_DIR)/install-arch
#$(STAMP_DIR)/install-arch: debian/openoffice.org$(VER)-bin.install
#$(STAMP_DIR)/install-arch: debian/openoffice.org$(VER)-java.install
$(STAMP_DIR)/install-arch: $(STAMP_DIR)/install
	dh_testdir
	dh_testroot
	umask 022

	# Copy files placed by ooo-build/bin/package-ooo	
	for i in calc core draw impress math writer; do \
	  rm -rf $(PKGDIR)-$$i $(PKGDIR)-$$i.*.debhelper ;\
	  cp -r --preserve=mode debian/tmp/pkg/openoffice.org-$$i $(PKGDIR)-$$i || exit 1;\
	done
	
	for i in "" -kde -gnome -evolution; do \
	  rm -rf $(PKGDIR)$$i $(PKGDIR)$$i.*.debhelper ;\
	done

	dh_installdirs -a
	#dh_install $(DEBHELPER_OPTIONS) --sourcedir=debian/tmp -a
	
	mkdir -p -m755 $(PKGDIR)-kde/$(OODIR)/program
	mkdir -p -m755 $(PKGDIR)-gnome/$(OODIR)/program
	mkdir -p -m755 $(PKGDIR)-evolution/$(OODIR)/program
	for f in kdefilepicker libfps_kde.so libvclplug_kde[0-9]*.so; do \
	  mv $(PKGDIR)-core/$(OODIR)/program/$$f $(PKGDIR)-kde/$(OODIR)/program || exit 1 ;\
	done
	for f in libfps_gnome.so libvclplug_gtk[0-9]*.so; do \
	  mv $(PKGDIR)-core/$(OODIR)/program/$$f $(PKGDIR)-gnome/$(OODIR)/program || exit 1;\
	done
	mv $(PKGDIR)-core/$(OODIR)/program/libevoab2.so $(PKGDIR)-evolution/$(OODIR)/program
	
	# Nasy menu icons hack, urgently needs better version
	dirname="`cd ooo-build/build/src680-m$(MILESTONE)/sysui/unx*.pro/misc/gnome; pwd`" ;\
	for p in writer calc impress draw math; do \
		mkdir -p -m755 $(PKGDIR)-$$p/usr/share/applications ;\
	    sed -e 's,Exec=<progpath_utf8>/program/s\(.*\) %U,Exec=oo\1$(VER) %U,' \
		    -e 's,Icon=<progpath>/share/icons/\(ooo_.*\.png\),Icon=\1,' \
			-e 's,<productname>,OpenOffice.org2,' \
		   < $$dirname/ooo680$$p.desktop \
		   > $(PKGDIR)-$$p/usr/share/applications/ooo$(VER)-$$p.desktop ;\
	done
	
	touch $@
	
	
# TODO If building with a JDK, install the additional files to be diverted
ifeq "$(USE_JAVA)" "y"
	. debian/java-lib.sh ;\
	for FILE in $$java_diversions; do \
	  echo mkdir -p $$(dirname $(PKGDIR)-java/$$FILE) ;\
	  mkdir -p $$(dirname $(PKGDIR)-java/$$FILE) ;\
	  cp -pf debian/tmp/$$FILE \
	    $(PKGDIR)-java/$$FILE  || exit 1;\
	done

endif

	# install regcomp and configimport utililities
	#install -m755 \
	#$(SOURCE_TREE)/solver/$(BUILDNUM)/$(ARCHBUILDDIR)/bin/regcomp \
	#$(SOURCE_TREE)/solver/$(BUILDNUM)/$(ARCHBUILDDIR)/bin/configimport.bin \
	#	$(PKGDIR)-bin/$(OPENOFFICEDIR)/program
	
	touch $@

# Install files generated by setup into arch-independent package directories
install-indep: $(STAMP_DIR)/install
#$(STAMP_DIR)/install-indep: debian/openoffice.org$(VER).install 
#$(STAMP_DIR)/install-indep: debian/openoffice.org$(VER)-mimelnk.install 
#$(STAMP_DIR)/install-indep: debian/openoffice.org$(VER).dirs
$(STAMP_DIR)/install-indep: ooo-build/fonts/opens___.ttf
	dh_testdir
	dh_testroot
	umask 022

	# Copy files placed by ooo-build/bin/package-ooo	
	for i in common; do \
	  rm -rf $(PKGDIR)-$$i $(PKGDIR)-$$i.*.debhelper; \
	  cp -r --preserve=mode debian/tmp/pkg/openoffice.org-$$i $(PKGDIR)-$$i || exit 1;\
	done

	# Remove files in langpack
	for dir in program/resource share/registry/res/en-US; do \
	  rm -rf $(PKGDIR)-common/usr/lib/openoffice$(VER)/$$dir ;\
	done

	#dh_install --sourcedir=debian/tmp -i

	dh_installdirs -i

	# remove .desktop files already in KDE 3.2
	#cd $(PKGDIR)-mimelnk/usr/share/mimelnk/application && \
	#	for i in calc draw impress writer; do \
	#		rm -f vnd.sun.xml.$$i.desktop; \
	#	done

	# remove the version number from the .desktop files
	#for i in $(PKGDIR)/usr/share/applnk/*/*.desktop \
	#	 $(PKGDIR)/usr/share/applications/*.desktop \
	#	 $(PKGDIR)-mimelnk/usr/share/mimelnk/*/*.desktop; do \
	#    sed -e s/"$(OOVERSIONNO) "// -e s/" $(OOVERSIONNO)"// \
	#	-e s/"$(OOVERSIONNO)-"/"-"/ < $$i > $$i.new; \
	#    mv $$i.new $$i; \
	#done && \
	#for i in $(PKGDIR)/usr/share/applnk/*/.directory; do \
	#    sed -e s/" $(OOVERSIONNO)"// < $$i > $$i.new; \
	#    mv $$i.new $$i; \
	#done
	 
	# convert program/icon paths in desktop shortcuts
	#for I in $(PKGDIR)/usr/share/applnk/*/*.desktop \
	#         $(PKGDIR)/usr/share/applications/*.desktop; do \
	#    sed -e 's,Exec="\?/.*\(/$(OODIR)/program/setup\)"\?,Exec=\1,' \
	#        -e 's,Exec="\?/.*/$(OODIR)/program/s\?\([^"]*\)"\?,Exec=/usr/bin/oo\1$(VER),' \
	#	-e 's,/oooffice ,/ooffice ,' \
	#	-e 's,Icon=.*/\([^/]*\.png\),Icon=\1,' \
	#	-e 's,\.png,,' \
	#        < "$$I" > "$$I.new" ;\
	#    rm "$$I"; mv "$$I.new" "$$I" ;\
	#done

	# insert NoDisplay=true to force the extra dir not being displayed
	# on KDE 3.2
	#echo "NoDisplay=true" >> \
	#	$(PKGDIR)/usr/share/applnk/OpenOffice.org1.1/.directory

	# install openoffice-xlate-lang
	install -d -m755 $(PKGDIR)-common/usr/share/openoffice$(VER)/bin
	install -m755 ooo-build/bin/openoffice-xlate-lang \
		$(PKGDIR)-common/usr/share/openoffice$(VER)/bin

	# install info file for update-openoffice-dicts
	#install -m644 debian/dictlistinfo \
	#	$(PKGDIR)-thesaurus-en-us/usr/share/myspell/infos/ooo/openoffice.org$(VER)-thesaurus-en-us
		
	# this is a hack. it is needed to get the dictionaries hook
	# notice that we have a newer OOo and do not need to change
	# dictionary.lst
	#touch $(PKGDIR)-common/usr/share/myspell/infos/ooo/openoffice.org$(VER)

	#install -d -m755 debian/ttf-opensymbol/usr/share/fonts/truetype/openoffice
	#install -m644 ooo-build/fonts/opens___.ttf \
	#	debian/ttf-opensymbol/usr/share/fonts/truetype/openoffice

	touch $@


# This single target is used to build all the packages, all at once, or
# one at a time. So keep in mind: any options passed to commands here will
# affect _all_ packages. Anything you want to only affect one package
# should be put in another target, such as the install target.
binary-common:
	dh_testdir
	dh_testroot

	for pkg in `dh_listpackages` ; do \
	  rm -f debian/$$pkg.*.debhelper;\
	  rm -rf debian/$$pkg/DEBIAN;\
	done

	dh_installdocs
	dh_installman
	dh_installchangelogs
	if [ -e $(PKGDIR)/usr/share/doc/openoffice.org$(VER) ]; then \
	 install -m644 ooo-build/ChangeLog \
	   $(PKGDIR)-core/usr/share/doc/openoffice.org$(VER)-core/changelog.ooo-build \
	 && gzip -f9 \
	   $(PKGDIR)-core/usr/share/doc/openoffice.org$(VER)-core/changelog.ooo-build; \
	fi
	dh_installdebconf
	dh_installmime
	dh_installmenu
	debian/scripts/installoverrides
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps -X msgbox-gnome -X getstyle-gnome $(SHLIBS_OVERRIDE)
	mkdir -p $(PKGDIR)-core/usr/share/doc/openoffice.org$(VER)-core
	debian/scripts/gen_lib_list \
	 > $(PKGDIR)-core/usr/share/doc/openoffice.org$(VER)-core/used_libs
# This switch to dh_shlibdeps reduces the 'libXXX not found' warnings but
# causes ldd crashes sometimes when used with fakeroot:
#          -l $(PKGDIR)-bin/$(OPENOFFICEDIR)/program 
	dh_gencontrol -- \
		-V'python-depends=$(PYTHON_DEPENDS)' \
		-V'java-additional-depends=$(JAVA_ADDITIONAL_DEPENDS)'
#		-v1.1.1+1.1.2rc3-`dpkg-parsechangelog  | grep urgency \
#		| awk '{print $$2}' | sed -e s/"("// -e s/")"// | cut -d"-" -f2`
	dh_md5sums
	dh_builddeb

# Build architecture independant packages using the common target.
binary-indep: $(STAMP_DIR)/binary-indep
$(STAMP_DIR)/binary-indep: $(STAMP_DIR)/install-indep debian/control $(STAMP_DIR)/maintscripts $(STAMP_DIR)/langpacks
	$(MAKE) -f debian/rules DH_OPTIONS="$(DEBHELPER_OPTIONS) -i" binary-common

	touch $@

# Build architecture dependant packages using the common target.
binary-arch: $(STAMP_DIR)/binary-arch
$(STAMP_DIR)/binary-arch: $(STAMP_DIR)/install-arch debian/control $(STAMP_DIR)/maintscripts
	$(MAKE) -f debian/rules DH_OPTIONS="$(DEBHELPER_OPTIONS) -a" binary-common
	touch $@

# Any other binary targets build just one binary package at a time.
binary-%: $(STAMP_DIR)/install-indep $(STAMP_DIR)/install-arch $(STAMP_DIR)/langpacks $(STAMP_DIR)/maintscripts
	$(MAKE) -f debian/rules binary-common DH_OPTIONS="$(DEBHELPER_OPTIONS) -p$*"

binary: binary-arch binary-indep

# -------------------------------------------------------
# Miscellaneous targets used to do a few useful operations

# Use 'debian/rules environment' to help debug architecture-related problems
# with the rules file.
environment:

	@echo 'Package build environment (not all variables may be set):'
	@echo '$$(ARCH)' is "$(ARCH)"
	@echo '$$(DEB_HOST_ARCH)' is "$(DEB_HOST_ARCH)"
	@echo '$$(CURDIR)' is "$(CURDIR)"
	@echo '$$(SOURCE_VERSION)' is "$(SOURCE_VERSION)"
	@echo '$$(UPSTREAM_VERSION)' is "$(UPSTREAM_VERSION)"
	@echo '$$(JDK_HOME)' is "$(JDK_HOME)"
	@echo '$$(SUNJDK_VER)' is "$(SUNJDK_VER)"
	@echo '$$(_CC)' is "$(_CC)"
	@echo '$$(CXX)' is "$(CXX)"
	@echo '$$(BUILDCMD)' is "$(BUILDCMD)"
	@echo '$$(CONFIGURE_FLAGS)' is "$(CONFIGURE_FLAGS)"
	@echo '$$(BUILDFLAGS)' is "$(BUILDFLAGS)"
	@echo '$$(DMAKEFLAGS)' is "$(DMAKEFLAGS)"
	@echo '$$(SHLIBS_OVERRIDE)' is "$(SHLIBS_OVERRIDE)"
	@echo '$$(BUILD_ALL_LANGPACKS)' is "$(BUILD_ALL_LANGPACKS)"
	@echo '$$(BUILDLANG),$$(BUILDLANG_PREFIX)' is "$(BUILDLANG),$(BUILDLANG_PREFIX)"
	@echo '$$(USE_INTERNAL_FREETYPE)' is "$(USE_INTERNAL_FREETYPE)"
	@echo '$$(DEBHELPER_OPTIONS)' is "$(DEBHELPER_OPTIONS)"
	
	@echo 'See debian/control for build dependencies.'

# Get the ximian packaging directory from gnome anoncvs
get-ooo-build:
	# press enter at the password prompt
	cvs -d:pserver:anonymous@anoncvs3.gnome.org:/cvs/gnome login
	cvs -z3 -d:pserver:anonymous@anoncvs3.gnome.org:/cvs/gnome co ooo-build
	cd ooo-build && ./autogen.sh $(CONFIGURE_FLAGS)

# Download the latest ooo-build sources
download: $(STAMP_DIR)/configure
	ooo-build/download	

# Update debian and ooo-build directories from cvs
cvsupdate:
	cd debian && cvs -z3 -q update -dP
	cd ooo-build && cvs -z3 -q update -dP

# Clean all source except for debian and ooo-build directories
# and re-unpack the source tarball.  The parent direcory name
# is preserved
upstreamclean:
	# Make sure the upstream source tarball is available
	test -f ../openoffice.org_$(UPSTREAM_VERSION).orig.tar.gz

	mkdir -p $(SOURCE_TREE)/tmp.source.unpack $(SOURCE_TREE)/tmp.oldsource
	find $(SOURCE_TREE) -maxdepth 1 \
	                    -not -name ooo-build -not -name debian -not -name $(SOURCE_TREE)\
			    -not -name tmp.source.unpack -not -name tmp.oldsource \
	                    -exec mv {} $(SOURCE_TREE)/tmp.oldsource \;
	
	rm -rf $(SOURCE_TREE)/tmp.oldsource
	tar -C $(SOURCE_TREE)/tmp.source.unpack -zxf ../openoffice.org_$(UPSTREAM_VERSION).orig.tar.gz
	mv $(SOURCE_TREE)/tmp.source.unpack/*/* $(SOURCE_TREE)
	rm -r $(SOURCE_TREE)/tmp.source.unpack

# Take a tarfile of all the non-stripped binaries in solver, for generating backtraces
# from coredumps.
makebinariestar:
ifeq "$(ARCH)" "i386"
	cd $(SOURCE_TREE)/solver/$(BUILDNUM)/$(ARCHBUILDDIR) && \
	  find bin lib | xargs file | sed -n '/LSB \(executable\|shared object\),.* not stripped/ s/:.*$$//p' | \
	  tar -T - -jcvf $(CURDIR)/../openoffice.org$(VER)-binaries_$(SOURCE_VERSION)_$(ARCH).tar.bz2
else
  ifeq "$(ARCH)" "arm"
	cd $(SOURCE_TREE)/sdolver/$(BUILDNUM)/$(ARCHBUILDDIR) && \
	  find bin lib | xargs file | sed -n '/LSB \(executable\|shared object\),.* not stripped/ s/:.*$$//p' | \
	  tar -T - -jcvf $(CURDIR)/../openoffice.org$(VER)-binaries_$(SOURCE_VERSION)_$(ARCH).tar.bz2
  else
	cd $(SOURCE_TREE)/solver/$(BUILDNUM)/$(ARCHBUILDDIR) && \
	  find bin lib | xargs file | sed -n '/MSB \(executable\|shared object\),.* not stripped/ s/:.*$$//p' | \
	  tar -T - -jcvf $(CURDIR)/../openoffice.org$(VER)-binaries_$(SOURCE_VERSION)_$(ARCH).tar.bz2
  endif
endif
# -------------------------------------------------------

.PHONY: environment checksource control makebinariestar
.PHONY: clean-debdir clean-instsetoo clean-objectdirs clean default
.PHONY: build build-indep build-arch
.PHONY: $(stampdir_targets)

# vim:set noet ai sts=8 sw=8 tw=0:
