Tests: junit-subsequentcheck
Depends: autoconf,
         automake,
         bc,
         bison,
         build-essentials,
         bzip2,
         dpkg-dev (>= 1.16.1),
         fastjar,
         flex | flex-old,
         gperf,
         libarchive-zip-perl,
         libc0.1 (>= 2.10.2-7) [kfreebsd-i386 kfreebsd-amd64],
         libcups2-dev,
         libfontconfig1-dev,
         libfreetype6-dev,
         libice-dev,
         libreoffice-subsequentcheckbase,
         libsm-dev,
         libx11-dev,
         libxaw7-dev,
         libxext-dev,
         libxinerama-dev,
         libxkbfile-dev,
         libxml-parser-perl,
         libxt-dev,
         libxtst-dev,
         pkg-config,
         unzip,
         x11proto-render-dev,
         xsltproc,
         zip,
         zlib1g-dev,
         %BUILD_DEPS%
