Tests: pyuno-import, uno-import
Depends: python3, python3-uno

Tests: smoketest
Depends: @builddeps@, libreoffice, libreoffice-sdbc-hsqldb, libreoffice-sdbc-firebird, default-jdk, timeout, libreoffice-smoketest-data
Restrictions: allow-stderr, rw-build-tree

# this is already done by smoketest upstream, but fails when doing it against
# the installed LO. works standalone, though, so it's patched out of the
# smoketest. Do it here separately.
Tests: test-extension
Depends: libreoffice-core, libreoffice-common, libreoffice-java-common, libreoffice-smoketest-data, default-jdk

Tests: test-extension-shared
Depends: libreoffice-core, libreoffice-common, libreoffice-java-common, libreoffice-smoketest-data, default-jdk
Restrictions: needs-root

Tests: uicheck
Depends: @builddeps@, libreoffice, python3-uno, libreoffice-l10n-he, libreoffice-l10n-ja
Restrictions: allow-stderr

#Tests: cppunit
#Depends: @builddeps@, libreoffice, python3-uno, libreoffice-sdbc-hsqldb, libreoffice-sdbc-firebird, libreoffice-smoketest-data
#Restrictions: allow-stderr

Tests: junit-subsequentcheck
Depends: @builddeps@, libreoffice, libreoffice-subsequentcheckbase, libreoffice-sdbc-hsqldb, libreoffice-sdbc-firebird
Restrictions: allow-stderr

Tests: odk-build-examples
Depends: @builddeps@, libreoffice-dev, libreoffice-dev-doc, libreoffice-java-common, python3-uno, libreoffice-officebean
Restrictions: allow-stderr
